{% extends "layout_results.html.twig" %}

{% block title %}
    Activity Results
{% endblock %}

{%  block pagename %}
    Results : {{ activity.name }}
{% endblock %}

{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block displayChart %}

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart','bar']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.

    function drawChart() {

    var data = google.visualization.arrayToDataTable([
    var data = google.visualization.arrayToDataTable([
    ['City','2','3'],
    {# ['City', {% for k in 0..data|length -2 %}{{ data[k].firstname }} {{ data[k].lastname }}, {% endfor %}{{data|last.firstname}} {{data|last.lastname}}]#}
    ['Blabla', {% for k in 0..data|length -2 %}{{ data[k].result|round(2) }}, {% endfor %}{{data|last.result}}]
    ]);

    var materialOptions = {
    chart: {
    title: 'Result of {{ activity.name }}'
    },
    hAxis: {
    //title: 'Total Population',
    minValue: {{ lowerbound }},
    maxValue: {{ upperbound }}
    },
    vAxis: {
    //title: 'Participants'
    },
    bars: 'vertical'
    };
    var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
    materialChart.draw(data, materialOptions);
    }
{% endblock %}

{% block content %}

    <div id="chart_div"></div>

    {% for user in data %}
        <div class="row">
            <div class="button-field col s5 m5">
                {{ user.firstname }} {{ user.lastname }}
            </div>
            <div class="button-field col s5 m5">
                {{ user.result|round(2) }} / {{ upperbound }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
