{% extends "layout.html.twig" %}

{% block title %}
    Activity Results
{% endblock %}

{%  block pagename %}
    Results : {{ activity.name }}
{% endblock %}

{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}



    {% for user in data %}
        <div class="row">
            <div class="button-field col s5 m5">
                {{ user.firstname }} {{ user.lastname }}
            </div>
            <div class="button-field col s5 m5">
                {{ user.result|round(2) }} / {{ upperbound }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
