 {% extends "layout.html.twig" %}

{% block title %}
Activity list
{% endblock %}

{% block pagename %}
Activity list
{% endblock %}

{% block username %}
{{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}
  <section class="col s10">
    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">

    {% for activity in user_activities %}
      <ul id="ListButtons" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i id="expand" class="material-icons">expand_more</i>
            <!-- just giving the name an absolute position because it was interfering ith the button position -->
            <div id="activityListDiv" style="margin-left: 10vw; font-size: 4vw; ">
              {{ activity['act_name']  }}
              <br>
              <span id="activityListSpan" style="font-size: 2.5vw; "> {{ activity['act_objectives']  }}</span>
            </div>

            {% if activity['act_status'] == 0 %}
              <span id="gradeBadge" class="new badge light-blue darken-2"> To be graded </span>
            {% elseif activity['act_status'] == 1 %}
              <span id="gradeBadge" class="new badge indigo"> In progress </span>
            {% elseif activity['act_status'] == 2 %}
              <span id="gradeBadge" class="new badge green darken-3"> Graded </span>
            {% endif %}


                {# if user is not a simple collaborator #}
                <!-- i had to make a div to contain the buttons because of marginalise and did the style inside
                 it to override the important aspects of all the classes -->


          </div>

          <div class="collapsible-body">details
            <div class="row">

            <br>
            Created on : {{ activity['act_inserted']  }} - Quotes deadline : {{ activity['act_quotes_deadline']  }}
            <br>
            Grade type : {{ activity['cri_gradetype']  }}
            <br>
            Grade scale : from {{ activity['cri_lowerbound']  }} to {{ activity['cri_upperbound']  }} (increment : {{ activity['cri_step']  }})
              {#
              As there is only one criterion, weight is not worth displaying
              {{ activity['weight']  }}
              #}

            </div>
            <div class="row">
              {% if is_granted('ROLE_ACTIVITY_MANAGER') or is_granted('ROLE_HR') %}

                  {% if activity['act_status'] != 2 %}

                        <div class="button-field col
                            {% if activity['act_status'] == 0 %}
                            s6
                            {% else %}
                            s4
                            {% endif %}
                        ">

                            <form action="{{ url('activityModify',{'actId' : activity['act_id']}) }}">
                                <button type="submit" class="validate"> MODIFY </button>
                            </form>
                        </div>

                        {% if (activity['isParticipant'] == 1  and  is_granted(['ROLE_ACTIVITY_MANAGER', 'ROLE_COLLABORATOR','ROLE_HR']))%}
                            <div class="button-field col
                            {% if activity['act_status'] == 0 %}
                            s6
                            {% else %}
                            s4
                            {% endif %}
                            ">
                                <form action="{{ url('activityGrade',{'actId' : activity['act_id']})}}">
                                    <button type="submit" class="validate"> GRADE </button>
                                </form>
                            </div>
                        {% else %}
                            <div class="button-field col
                            {% if activity['act_status'] == 0 %}
                            s6
                            {% else %}
                            s4
                            {% endif %}
                            ">
                                <a href=""><button style="background-color: red;" ><i class="fa fa-ban" aria-hidden="true"></i> GRADE </button></a>
                            </div>
                        {% endif %}
                  {% endif %}

                  {% if activity['act_status'] == 1 %}
                    <div class="button-field col s4">
                        <button id="" type="submit" class="validate" style="background-color: grey;" disabled>RESULTS</button>
                    </div>
                  {% elseif activity['act_status'] == 2 %}
                        <div class="button-field col s12">
                            <button id="" type="submit" class="validate" style="margin-left: 36%;">
                                <a href="{{ url('activityResults',{'actId' : activity['act_id']}) }}" style="color: white;">RESULTS</a>
                            </button>
                        </div>
                  {% endif %}
            {% endif %}
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
    <ul class="collection">
      <li class="collection-item"></li>
      <br><br> <!-- empt ul to make space for fixed add button -->
    </ul>
    <div class="fixed-action-btn">
            <a href="{{ path('activityCreationParameters') }}"><button type="submit" class="waves-effect waves-light btn-large green accent-4">ADD ACTIVITY</button></a>
    </div>
  </section>

{% endblock %}
