 {% extends "layout.html.twig" %}

{% block title %}
Activity list
{% endblock %}

{% block pagename %}
Activity list
{% endblock %}

{% block username %}
{{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}
  <section class="col s10">
    <input type="text" name="fakesearchbar" placeholder="FAKE SEARCH BAR">

    {% for activity in user_activities %}
      <ul id="ListButtons" class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            <!-- just giving the name an absolute position because it was interfering ith the button position -->
            <div class="" style="position: absolute; margin-left: 3vw;">
            {{ activity['act_name']  }}
            </div>
                {# if user is not a simple collaborator #}
                <!-- i had to make a div to contain the buttons because of marginalise and did the style inside
                 it to override the important aspects of all the classes -->
<div style="display: flex;">
                  {% if is_granted('ROLE_ACTIVITY_MANAGER') or is_granted('ROLE_HR') %}
                  <div class="button-field col s5">
                    <form action="{{ url('activityModify',{'actId' : activity['act_id']})}}">
                      <button type="submit" class="validate"> MODIFY </button>
                    </form>
                    </div>
                    <div class="button-field col s5">
                      <button id="alexButton" type="submit" class="validate"><a href="{{ url('activityResults',{'actId' : activity['act_id']}) }}">RESULTS</a></button>
                    </div>
                  {% endif %}


                    {% if activity['isParticipant'] == 1 %}
                    <div class="button-field col s5">
                      <form action="{{ url('activityGrade',{'actId' : activity['act_id']})}}">
                        <button type="submit" class="validate"> GRADE </button>
                      </form>
                    </div>
                    {% endif %}
</div>

              <span class="new badge"> {{ activity['act_status'] }} </span>

          </div>

          <div class="collapsible-body">autres infos
            <div class="row">
            {{ activity['act_objectives']  }}
            <br>
            Created on : {{ activity['act_inserted']  }} - Quotes deadline : {{ activity['act_quotes_deadline']  }}
            <br>
            Grade type : {{ activity['cri_gradetype']  }}
            <br>
            Grade scale : from {{ activity['cri_lowerbound']  }} to {{ activity['cri_upperbound']  }} (increment : {{ activity['cri_step']  }})
              {#
              As there is only one criterion, weight is not worth displaying
              {{ activity['weight']  }}
              #}

            <div class="button-field col s10">
              <button type="submit" class="validate">SUBMIT GRADES</button>
            </div>
            </div>
          </div>
        </li>
      </ul>
    {% endfor %}
    <div class="row">
      <div class="button-field col s10">
          <a href="{{ path('activityCreationParameters') }}"><button type="submit" class="validate" >ADD ACTIVITIES</button></a>
      </div>
    </div>
  </section>

{% endblock %}
