{% extends "layout_results.html.twig" %}

{% block title %}
    Activity Results
{% endblock %}

{%  block pagename %}
    Results
{% endblock %}

{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block displayChart %}

    // Load the Visualization API and the corechart package.
    google.charts.load('current', {'packages':['corechart','bar']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.

    function drawChart() {

    var data = google.visualization.arrayToDataTable([
    ['', '{% for k in 0..data|length -2 %}{{ data[k].firstname }} {{ data[k].lastname }}', {% endfor %}'{{data|last.firstname}} {{data|last.lastname}}','Overall average'],
    ['Grades', {% for k in 0..data|length -2 %}{{ data[k].result|round(2) }}, {% endfor %}{{data|last.result}}, {{ overallgrade }}]
    ]);

    var materialOptions = {
    chart: {
    {# title: 'Result of {{ activity.name }}' #}
    },

    hAxis: {
    minValue: {{ lowerbound }},
    maxValue: {{ upperbound }}
    },
    vAxis: {
    },
    bars: 'horizontal'
    };
    var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
    materialChart.draw(data, materialOptions);
    }
{% endblock %}

{% block content %}
    <div class="row result-title col s11 m10">
        <h3> Result of {{ activity.name }} </h3>
        <h5> Grades on {{ upperbound }} </h5>
    </div>
    <div class="row col s11 m10 result-chart">
        <div id="chart_div"></div>
    </div>

{% endblock %}
