<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - Serpico</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS custom -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
        <!-- CSS Materialize -->
        <link rel="stylesheet" href="{{ asset('lib/materialize/css/materialize.css') }}">
        <!-- CSS JQuery UI-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
        <!-- Font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- Materialize icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
      <div id="logOutMenu" class="HiddenMenu">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h5>{{ currentuser.firstname }} {{ currentuser.lastname }}</h5>
        {% endif %}
        Are you sure you would you like to Log Out?
        <ul>
          <li><a href="{{ path('admin_logout') }}">Log out</a></li>
        </ul>
        <div id="logOutCloseButton">
          close
        </div>
      </div>

<!-- comment seperating the two slided in menus -->

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <div id="dropDownOptions" class="HiddenMenu">
            <!-- phot du mec, ajout de if si jamais on fait lajout de photos  -->
            <div id="popUpPhotoDiv">
              <img id="popUpPhoto" src="{{ asset('lib/img/logoaltthree.png') }}"/>
            </div>
                <!-- son nom -->
            <h1>{% block username %}{% endblock %}</h1>
             <h1>Menu </h1>
             <ul>
               <li><i class="fa fa-home" aria-hidden="true"></i><a href="{{ path('home') }}"> HOME </a></li>
               <li><i class="fa fa-user" aria-hidden="true"></i><a href="{{ path('profile') }}"> MY PROFILE </a></li>
               <li><i class="fa fa-briefcase" aria-hidden="true"></i><a href="{{ path('myActivities') }}">MY ACTIVITIES</a></li>
               <li><i class="fa fa-cog" aria-hidden="true"></i><a href="{{ path('createUser') }}"> Users</a></li>
             </ul>
            <div id="homeCloseButton">
              close
            </div>
          </div>
        {% endif %}


        <!-- mobile header -->



        <header id="header">

<!-- for the mobile version (original) -->
        <!-- home menu icon/button for mobile -->
        <i id="returnMenu" class="material-icons ">home</i>

        <!-- log out icon/button for mobile version -->
        <i  id="logOutButton" class="fa fa-sign-out" aria-hidden="true"></i>

        <div class="currentPage">
          {% block pagename %}{% endblock %}
        </div>


      </header>

<!-- desktop version -->


      <nav id="nav">
   <div class="nav-wrapper black">
     <a href="{{ path('home') }}" class="brand-logo"><img id="logoHomepage" src="{{ asset('lib/img/logo.png') }}" ><span id="serpicoNav">Serpico</span></a>
     <ul id="nav-mobile" class="right ">
       <li><a href="{{ path('myActivities') }}">Activities <i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
       <li><a href="{{ path('createUser') }}">Users <i class="fa fa-users" aria-hidden="true"></i></a></li>
       <li><a href="{{ path('profile') }}">
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          {{ currentuser.firstname }} {{ currentuser.lastname }} Profile <i class="fa fa-cog" aria-hidden="true"></i>

         {% else %}
          Please Sign in
         {% endif %}

       </a></li>
       {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <li>
           <a href="{{ path('admin_logout') }}">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
         </li>
       {% endif %}

     </ul>
   </div>
 </nav>



        {% block content %}{% endblock %}

        <!-- CDN : jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
        <!-- CDN : script Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- CDN JQuery UI -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
        <!-- header custom js -->
        <script src="{{ asset('js/header.js') }}"></script>
        {% block javascripts %}{% endblock %}
      <footer>
          <div class="footer-copyright">
              <div class="container">
                  © <script type="text/javascript">document.write(new Date().getFullYear());</script> Copyright Team GALA
              </div>
          </div>
      </footer>
    </body>
</html>
