{% extends "layout.html.twig" %}

{% block title %}
    Home
{% endblock %}

{%  block pagename %}
    HOME
{% endblock %}
{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}
{% block content %}
   <div id="PhotoMyProfileDiv">
    <img id="PhotoMyProfile" src="{{ asset('lib/img/gc.jpg') }}"/>
 </div>
    <div id="profileActivities">
        <p> {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h6>{{ currentuser.firstname }} {{ currentuser.lastname }}</h6>
            {% endif %}</p>
        <p>Total activities : {{ totalactivities }}</p>
        <p><span>Awaiting results :</span> {{ totalactivities - gradedactivities  }}</p>
    </div>

{% endblock %}