{% extends "layout.html.twig" %}

{% block title %}
user list
{% endblock %}

{% block pagename %}
User list
{% endblock %}
{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}
{% block content %}
  <section class="col s10">
    <div class="" style="opacity: 0.00001;">
    aempty div used to circumnavigate the materialise bug which moves the first badge element of the list
    </div>

    {% for user in users %}
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            <!-- if pour la photo du user  pour un : if user['picture'] != null -->
            <div id="userPhotoDiv">
            {% if user['id'] > 10 %}
                <img id="userPhoto" src="{{ asset('lib/img/Serpico.png') }}"/>
            {% elseif user['id'] <= 10 %}
                <img id="userPhoto" src="{{ asset('lib/img/Serpico.png') }}"/>
            {% endif %}
            </div>
            <!-- fin du if pour la photo du user -->

            {{ user['firstname']  }}
            {{ user['lastname'] | upper }}
            <br>
            {{user['position']}}
<!-- if pour le role du user pour determiner ses droits -->
            {% if user['role'] == 1 %}
            <span id="pastilleAdmin" class="new badge" >
            A
            {% elseif user['role'] == 2 %}
            <span id="pastilleManager" class="new badge" >
            M
            {% elseif user['role'] == 3 %}
            <span id="pastilleUser" class="new badge" >
            U
            {% endif %}
          </span>
          <!-- fin du if pour le role du user -->
            </div>
        <div id="ListButtons" class="collapsible-body">
          <div class="row">
            Autres infos <br>
            Poids : {{ user['weight']  }}
          </div>
          <div class="row">
            <div class="button-field col s6">
              <button type="submit" class="validate modify-button" data-user-id={{ user['id'] }}>MODIFY</button>
            </div>
            <div class="button-field col s6">
              <button type="submit" class="validate delete-button" data-user-id={{ user['id'] }}>DELETE</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
  <ul class="collection">
    <li class="collection-item"></li>
    <br><br> <!-- empt ul to make space for fixed add button -->
  </ul>

    <div class="fixed-action-btn">
      <form action="{{ url('createUser') }}">
      <button type="submit" class="waves-effect waves-light btn-large green accent-4">ADD USERS</button>
      </form>
    </div>

</section>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/users.js') }}"></script>
{% endblock %}
